version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: resortwala_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: resortwala_local
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  adminer:
    image: adminer
    container_name: resortwala_adminer
    restart: always
    ports:
      - "8080:8080"

  proxy:
    image: nginx:alpine
    container_name: resortwala_proxy
    restart: always
    ports:
      - "8085:80"
    volumes:
      - ./nginx_local.conf:/etc/nginx/nginx.conf:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  db_data:
